@media (min-width: 768px) {
	#calendar .panel > .container {
		width: 960px;
		margin: 0 auto;
		padding: 0 10px;
	}
	
	#calendar .event .header .date,
	#calendar .event .header .buttons,
	#calendar .event .header .category {
		width: auto;
	}
}