@media (min-width: 768px) {
	/**** GENERAL RULES ****/
	
	#mainContainer {
		top: 80px;
		left: 80px;
	}

	#mainContainer .panel .container {
    	width: 960px;
	}

	#mainContainer .panel .panel .container {
		max-width: 960px;
    	width: 100%;
	}

	#mainContainer.with-sidebar-opened .panel .container {
    	width: 100%;
	}
	/**** GENERAL RULES ****/
	
	/**** HEADER ****/
	#header {
		height: 80px;
		position: static;
	}
	#header > div {
		height: 80px;
	}
	#header > div > a {
		height: 70px;
	}
	#header .sidebar-switch a {
		width: 80px;
		height: 80px;
	}
	#header .sidebar-switch a.opened {
		background-image: url('../img/static/menu-nav-sidebar-close.png');
	}
	#header .logo {
		width: 200px;
	}
	#header .logo img {
		padding: 27px 0;
	}
	#header .header-menu {
		background-color: #e32612;
		color: #FFF;
		width: 60%;
		position: absolute;
		left: 280px;
		padding: 0;
	}
	#header .header-menu ul {
		list-style-type: none;
		width: auto;
		padding: 0;
		margin: 0;
	}
	#header .header-menu ul li {
		display: inline-block;
	}
	#header .header-menu ul li a {
		display: inline-block;
	    width: auto;
	}
	
	#header .online-banking a,
	#header .header-menu ul li a {
		font-family: 'unicredit-bold';
		white-space: nowrap;
		padding: 50px 8px 0;
		height: 80px;
		background-position: center 20px;
		background-size: 30px auto;
		background-repeat: no-repeat;
		text-align: center;
	    font-size: 12px;
	}
	#header .header-menu ul li a {
		border-top: 2px solid #e32612;
	}
	#header .header-menu ul li a.active {
		background-color: #aa1c0d;
		border-top: 2px solid #fff;
	}
	#header .header-menu ul li a.calendar {
		background-image: url('../img/static/menu-nav-calendar.png');
	}
	#header .header-menu ul li a.worldwide {
		background-image: url('../img/static/menu-nav-worldwide.png');
	}
	#header .header-menu ul li a.archive {
		background-image: url('../img/static/menu-nav-archive.png');
	}
	#header .header-menu ul li a.contactus {
		background-image: url('../img/static/menu-nav-contactus.png');
	}
	#header .header-menu ul li a.search {
		background-image: url('../img/static/menu-nav-search.png');
	}
	#header .header-menu ul li a.uefa {
		background-image: url('../img/static/menu-nav-uefa.png');
	}
	#header .header-menu ul li a.ita {
		background-image: url('../img/static/menu-nav-ita.png');
	}
	#header .header-menu ul li a.eng {
		background-image: url('../img/static/menu-nav-eng.png');
	}
	
	#header .online-banking {
		background-color: #AA1C0D;
		position: absolute;
		top: 0;
		right: 0;
	}
	#header .online-banking a {
		width: 95px;
		background-image: url('../img/static/menu-nav-onlinebanking.png');
		padding: 50px 3px 0;
	}
	/**** HEADER ****/

	/**** SEARCH ****/
	.ucg_search input.findAsYouType,
	.ucg_search input.findAsYouType:focus {
		padding: 0 0 0 200px;
	}

	.autocomplete-suggestions {
		padding: 0 0 0 200px;
	}
	/**** SEARCH ****/
	
	/**** SIDEBAR ****/
	#sidebar {
		width: 80px;
		top: 80px;
		left: -280px;
	}
	/*	
	#sidebar .sidebar-footer .champions-league .logo-champions {
		text-align: right;
	}
	#sidebar .sidebar-footer .champions-league .name {
		text-align: left;
	}
	*/
	/**** SIDEBAR ****/
	
	/**** FOOTER ****/
	
	#footer ul {
		width: auto;
		display: inline;
		float: none;
	}
	#footer ul li a {
	    margin: 0 17px;
	}
	#footer .info ul li,
	#footer .utility ul li {
		display: inline;
	    width: auto;
	}
	#footer .info ul li a,
	#footer .utility ul li a {
		text-align: center;
	    width: auto;
		padding: 5px 0;
	}
	#footer .darkGreyFooter .info {
		padding: 0;
	}
	#footer .darkGreyFooter .logos img {
		float: none;
	}
	#footer .darkGreyFooter > div:last-child {
		margin: 0;
	}
	/**** FOOTER ****/
}
@media (min-width: 960px) {

	#header .online-banking a {
		width: 160px;
	}
	#header .online-banking a,
	#header .header-menu ul li a {
		background-position: center 15px;
		min-width: 70px;
		background-size: auto auto;
		padding: 50px 12px 0;
	    font-size: 14px;
	}
	
}