@media (min-width: 768px) {
	/**** GENERAL RULES ****/
	
	#mainContainer {
		top: 80px;
		left: 80px;
	}
	/**** GENERAL RULES ****/
	
	/**** HEADER ****/
	#header {
		height: 80px;
	}
	#header > div {
		height: 80px;
	}
	#header > div > a {
		height: 70px;
	}
	#header .sidebar-switch a {
		width: 80px;
		height: 80px;
	}
	#header .sidebar-switch a.opened {
		background-image: url('../img/static/menu-nav-sidebar-close.png');
	}
	#header .logo {
		width: 200px;
	}
	#header .logo img {
		padding: 27px 0;
	}
	#header .menu {
		background-color: #e32612;
		color: #FFF;
		width: 60%;
		position: absolute;
		left: 280px;
		padding: 0;
	}
	#header .online-banking {
		background-color: #AA1C0D;
		position: absolute;
		top: 0;
		right: 0;
	}
	#header .online-banking a {
		width: 160px;
		background-image: url('../img/static/menu-nav-onlinebanking.png');
	}
	#header .menu ul {
		list-style-type: none;
		width: auto;
		padding: 0;
		margin: 0;
	}
	#header .menu ul li {
		display: inline-block;
	}
	#header .menu ul li a {
		display: inline-block;
	    width: auto;
	    padding: 0 15px;
	}
	
	#header .online-banking a,
	#header .menu ul li a {
		font-family: 'unicredit-bold';
		white-space: nowrap;
		padding-top: 50px;
		height: 80px;
		background-position: center 15px;
		background-repeat: no-repeat;
		text-align: center;
	}
	#header .menu ul li a.active {
		background-color: #aa1c0d;
	}
	#header .menu ul li a.calendar {
		background-image: url('../img/static/menu-nav-calendar.png');
	}
	#header .menu ul li a.worldwide {
		background-image: url('../img/static/menu-nav-worldwide.png');
	}
	#header .menu ul li a.archive {
		background-image: url('../img/static/menu-nav-archive.png');
	}
	#header .menu ul li a.contactus {
		background-image: url('../img/static/menu-nav-contactus.png');
	}
	#header .menu ul li a.search {
		background-image: url('../img/static/menu-nav-search.png');
	}
	
	/**** HEADER ****/
	
	
	/**** SIDEBAR ****/
	#sidebar {
		width: 80px;
	}
	/**** SIDEBAR ****/
	
	/**** BREADCRUMB ****/
	#breadcrumb ul {
		width: 960px;
		margin: 0 auto;
	}
	/**** BREADCRUMB ****/

	/**** FOOTER ****/
	/**** FOOTER ****/
}