/************** SITEMAP **************/

#sitemap .ucg_title .ucg_title_container .ucg_link {
	background: none;
	font-size: 15px;
	line-height: 22px;
}

#sitemap .ucg_linklist.panel {
	margin-bottom: 10px;
}

#sitemap .ucg_linklist .ucg_link_container .ucg_link {
	background: none;
	font-size: 13px;
	line-height: 17px;
	margin-bottom: 5px;
}

#sitemap .ucg_linklist .ucg_link_container .ucg_link a {
	color: #333333;
}

#sitemap .ucg_linklist .ucg_link_container .ucg_link.second_level {
	background: none;
	font-size: 11px;
	line-height: 15px;
	padding-left: 15px;
}

@media (min-width: 768px) {
	
}