.ucg_infografic {
	padding: 50px 0 17px;
}
.ucg_infografic .ucg_title.panel {
	margin-top: 0px;
	margin-bottom: 33px;
}
.ucg_infografic .parsys_column.three-columns-box {
	margin-bottom: 0;
}
.ucg_infografic .ucg_infografic_text {
	margin-bottom: 20px;
}
.ucg_infografic .ucg_infografic_text .value {
	float: left;
	font-family: 'unicredit-light';
	font-size: 40px;
	line-height: 40px;
}
.ucg_infografic .ucg_infografic_text .title {
	display: block;
	text-transform: uppercase;
	font-size: 15px;
}
.ucg_infografic .ucg_infografic_text .title a {
	vertical-align: super;
	text-decoration: underline;
	font-size: 8px;
	padding: 0 5px;
	cursor: pointer;
	font-family: 'unicredit-bold';
}
