/************** ucg_modal **************/

.ucg_modal .ucg_inner_modal {
	padding-left: auto;
}

.ucg_modal .modal-dialog {
	margin: 180px auto;
	width: 300px;
}

.ucg_modal .modal-content {
	border-radius: 0;
}

.ucg_modal .modal-header {
	border: none;
}

.ucg_modal .modal-body {
	font-size: 15px;
	padding: 15px 22px 25px;
}

.ucg_modal .modal-body .ucg_modal_title {
	font-size: 17px;
}

@media (min-width: 768px) {
	.ucg_modal .ucg_inner_modal {
		padding-left: 80px;
	}

	.ucg_modal .modal-dialog {
		width: 600px;
	}
}