/************** CQ5 CSS replica per prove DA LEVARE!!! **************/

.two-columns-box,
.three-columns-box,
.onetwo-columns-box,
.twoone-columns-box {
	margin-bottom: 24px;
	padding-top: 1px;
}

.parsys_column .two-columns-box-c0,
.parsys_column .two-columns-box-c1 {
	float: left;
	width: 49%;
}

.parsys_column .three-columns-box-c0,
.parsys_column .three-columns-box-c1,
.parsys_column .three-columns-box-c2,
.parsys_column .onetwo-columns-box-c0,
.parsys_column .twoone-columns-box-c1 {
	float: left;
	width: 33%;
}

.parsys_column .onetwo-columns-box-c1,
.parsys_column .twoone-columns-box-c0 {
	float: left;
	width: 66%;
}

/************** ucg_image_text **************/

.ucg_image_text_container .ucg_image {
	float: left;
	margin-top: 3px;
	margin-bottom: 6px;
}

.ucg_image_text_container .ucg_image img {
	width: 95%;
}

.ucg_image_text_container .ucg_text {
	width: 95%;
}

.ucg_image_text_container .ucg_text h3 {
	margin-top: 0;
}

.ucg_image_text_container .ucg_text a {
	background: url('../img/static/blue_arrow_right.png') no-repeat scroll right center;
	/*display: block;*/
	padding-right: 12px;
	text-transform: uppercase;
}