/* MOBILE */
.ucg_ads {
	overflow: hidden;
	height: 300px;
}
#mainContainer .ucg_ads.panel .swiper-container,
#mainContainer .ucg_ads.panel .swiper-slide {
	width: 100%;
	height: 300px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	background-color: #262626;
}
.ucg_ads .swiper-slide img {
	width: auto;
	height: 100%;
	margin: 0 -50%;
}
.ucg_ads .ucg_ads_content {
	background-color: transparent;
	width: 100%;
	position: relative;
	top: -300px;
	height: 0px;
	margin: 0 auto;
	text-align: center;
	z-index: 1;
}
.ucg_ads .ucg_ads_content > .container {
	height: 180px;
}
.ucg_ads .ucg_ads_text {
	position: relative;
	top: 42px;
	height: auto;
	padding: 0 30px;
	color: #fff;
	width: auto;
	display: inline;
}
.ucg_ads .ucg_ads_text.white {
	color: #fff;
}
.ucg_ads .ucg_ads_text.dark {
	color: #666;
}
.ucg_ads .ucg_ads_text h3 {
	font-family: 'unicredit-light';	
	font-size: 34px;
	line-height: 1.2;
}
.ucg_ads .ucg_ads_text h4 {
	font-size: 15px;
	line-height: 1.2;
}
.ucg_ads .ucg_ads_text a {
	font-family: 'unicredit-bold';
	font-size: 13px;
	line-height: 25px;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 20px;
}
.ucg_ads .ucg_ads_text.white a {
	color: #fff;
}
.ucg_ads .ucg_ads_text.dark a {
	color: #00afd0;
}
.ucg_ads .ucg_ads_text.dark a.video {
	padding-left: 25px;
	background: url('../img/static/generic_video_link_icon.png') no-repeat scroll left center transparent;
}
.ucg_ads .ucg_ads_text.dark a.internal {
	background: url("../img/static/generic_internal_link_icon.png") no-repeat scroll center right;
	padding: 0 16px 0 0;
}
.ucg_ads .ucg_ads_text.dark a.external {
	background: url("../img/static/generic_external_link_icon.png") no-repeat center left;
	padding-left: 26px;
}
.ucg_ads .ucg_ads_text.white a.video {
	padding-left: 25px;
	background: url('../img/static/generic_video_link_icon_white.png') no-repeat scroll left center transparent;
}
.ucg_ads .ucg_ads_text.white a.internal {
	background: url("../img/static/generic_internal_link_icon_white.png") no-repeat scroll center right;
	padding: 0 16px 0 0;
}
.ucg_ads .ucg_ads_text.white a.external {
	background: url("../img/static/generic_external_link_icon_white.png") no-repeat center left;
	padding-left: 26px;
}

/* DESKTOP */
@media (min-width: 768px) {
	.ucg_ads .swiper-container,
	.ucg_ads .swiper-slide {
		width: 100%;
		height: 320px;
	}	
}
/* DESKTOP */
@media (min-width: 960px) {
	#mainContainer:not(.with-sidebar-opened) .ucg_ads .ucg_ads_text h3 {
		font-size: 40px;
		width: 43%;
		margin: 0 auto;
	}
	#mainContainer:not(.with-sidebar-opened) .ucg_ads .ucg_ads_text h4 {
		font-size: 17px;
		width: 43%;
		margin: 0 auto;
	}
	#mainContainer:not(.with-sidebar-opened) .ucg_ads .ucg_ads_text a {
		font-size: 15px;
		line-height: 25px;
	}
}