/************** ucg_text **************/

.ucg_text.panel {
	margin: 0;
}

.ucg_text .ucg_text_container {
	width: 100%;
}

.ucg_text .ucg_text_container p {
	font-size: 15px;
	margin-bottom: 26px;
}

.ucg_text .ucg_text_container .ucg_date {
	display: block;
	font-size: 14px;
	color: #999999;
	margin-bottom: 16px;
}

.ucg_text .ucg_text_container .ucg_introTitle {
	display: block;
	font-size: 17px;
	color: #333333;
	margin-bottom: 5px;
}

.ucg_text .ucg_text_container .ucg_intro {
	color: #626262;
}

.ucg_text .ucg_text_container .ucg_bold {
	font-weight: bold; 
}

.ucg_text .ucg_text_container .ucg_mail {
	background: none;
	text-transform: lowercase;
}

.ucg_text .ucg_linklist .container {
	padding: 0;
}

@media (min-width: 768px) {
}