/************** ucg_video_text **************/

.ucg_video_text.panel {
	margin: 0;
}

.ucg_video_text.panel .container {
	width: 100%;
}

.ucg_video_text .ucg_video {
	float: left;
	margin-top: 3px;
	margin-bottom: 6px;
	margin-right: 12px;
}

.ucg_video_text .ucg_video video {
	width: 100%;
}

.ucg_video_text .ucg_txt {
	font-size: 15px;
}

.ucg_video_text .ucg_txt h3 {
	font-size: 24px;
	margin-top: 0;
}

.ucg_video_text .ucg_txt a:hover {
	color: #00afd0;
}

@media (min-width: 768px) {
	
}