/************** ucg_linklist **************/

.ucg_linklist.panel {
	margin: 0;
}

.ucg_linklist .ucg_link_container {
	width: 100%;
}

.ucg_linklist .ucg_link_container .ucg_bold {
	font-weight: bold; 
}

.ucg_linklist .ucg_link_container .ucg_mail {
	background: none;
	text-transform: lowercase;
}

.ucg_linklist .ucg_link_container .ucg_link {
	
}

.ucg_linklist .ucg_link_container .ucg_download_link {
	margin-bottom: 10px;
}

.ucg_linklist .ucg_link_container h5 {
	border-bottom: 1px solid #c9c9c9;
	margin-bottom: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.ucg_linklist .ucg_link_container .ucg_internal_link {
	margin-bottom: 10px;
}

.ucg_linklist .ucg_link_container .ucg_internal_link a {
	background: url('../img/static/blue_arrow_right.png') no-repeat scroll right center;
	padding-right: 12px;
	text-transform: uppercase;
}

.ucg_linklist .ucg_link_container .ucg_external_link {
	background: url("../img/static/generic_external_link_icon.png") no-repeat;
	margin-bottom: 10px;
	padding-left: 26px;
	text-transform: uppercase;
}

.ucg_linklist .ucg_link_container a:hover {
	color: #00afd0;
}

@media (min-width: 768px) {
	 #mainContainer .ucg_linklist.panel .container {
		width: 100%;
	}
}