/************** ucg_tab **************/

.ucg_tab select {
	behavior: url('../plugin/js/PIE.htc');
	background: none;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 17px;
	line-height: 40px;
	color: #999;
	padding: 0 5px;
	height: 40px;
	width: 100%;
}

.ucg_tab .container {
	padding: 0;
}

/************** chosen-container plugin CSS for the dropdown in mobile resolutions **************/

.ucg_tab .chosen-container {
	height: 40px;
	width: 100%;
}

.ucg_tab .chosen-container .chosen-single {
	background-image: none;
	border: 1px solid #c9c9c9;
	box-shadow: none;
	font-family: "unicredit-bold";
	font-size: 17px;
	color: #666666;
	line-height: 40px;
	padding: 0 10px;
	height: 40px;
}

.ucg_tab .chosen-container .chosen-default {
	background: none;
	border: 1px solid #c9c9c9;
	font-size: 17px;
	color: #666666;
	line-height: 40px;
	height: 40px;
}

.ucg_tab .chosen-container .chosen-single div,
.ucg_tab .chosen-container .chosen-default div {
	margin-right: 10px;
	width: 30px;
}

.ucg_tab .chosen-container .chosen-single div b,
.ucg_tab .chosen-container .chosen-default div b {
	background: url('../img/static/select-arrow-down.png') no-repeat scroll center center !important;
}

.ucg_tab .chosen-container-active.chosen-with-drop .chosen-single {
	border: 1px solid #c9c9c9;
}

.ucg_tab .chosen-container.chosen-with-drop .chosen-single div b,
.ucg_tab .chosen-container.chosen-with-drop .chosen-default div b {
	background: url('../img/static/select-arrow-up.png') no-repeat scroll center center !important;
}

.ucg_tab .chosen-container .chosen-drop  {
	border: 1px solid #c9c9c9;
	border-top: none;
	padding: 10px 10px 5px;
}

.ucg_tab .chosen-container .chosen-drop .chosen-results {
	margin: 0;
	padding: 0;
}

.ucg_tab .chosen-container .chosen-drop .chosen-results .active-result {
	background: url('../img/static/radio-button-unchecked.png') no-repeat scroll left center;
	font-size: 15px;
	color: #666666;
	line-height: 20px;
	padding-left: 30px;
}

.ucg_tab .chosen-container .chosen-drop .chosen-results .active-result.highlighted {
	background: url('../img/static/radio-button-checked.png') no-repeat scroll left center;
}

/************** tab content **************/

.ucg_tab .ucg_title .container,
.ucg_tab .ucg_text .container,
.ucg_tab .ucg_image .container,
.ucg_tab .ucg_image_text .container,
.ucg_tab .ucg_video_text .container,
.ucg_tab .ucg_quote .container,
.ucg_tab .ucg_linklist .container,
.ucg_tab .ucg_horizontal_line .container {
	padding: 0;
}

.ucg_tab .tabs {
	border-bottom: 1px solid #c9c9c9;
	font-family: "unicredit-medium";
	height: 78px;
}

.ucg_tab .tabs .container {
	padding: 0 15px;
}

.ucg_tab .tabs .tab {
	float: left;
	background-color: #F5F5F5;
	border-top: 1px solid #c9c9c9;
	border-bottom: 1px solid #c9c9c9;
	border-left: 1px solid #c9c9c9;
	cursor: pointer;
	padding: 26px 0;
}

.ucg_tab .tabs .tab:last-child {
	border-right: 1px solid #c9c9c9;
}

.ucg_tab .tabs .tab.active {
	background-color: #FFFFFF;
	border-bottom: none;
	padding-bottom: 20px;
}

.ucg_tab .tabs .tab.active .tabHeader {
	border-bottom: 2px solid #00afd0;
	padding-bottom: 5px;
}

.ucg_tab .tabs .tab .tabHeader a {
	font-size: 17px;
	color: #666666;
}

.ucg_tab .tabs .tab.active .tabHeader a {
	color: #00afd0;
}

.ucg_tab .tabsBody {
	clear: both;
}

.ucg_tab .tabPanel {
	display: none;
	font-size: 15px;
	padding: 15px;
}

.ucg_tab .tabPanel.selected {
	display: block;
}

.ucg_tab .tabSection {
	margin-bottom: 40px;
	padding-bottom: 40px;
}

.ucg_tab .tabSection.bottomBorder {
	border-bottom: 1px solid #c9c9c9;
}

.ucg_tab .tabSection .logo {
	padding-bottom: 20px;
}

.ucg_tab .tabSection .bankName {
	font-size: 24px;
}

.ucg_tab .tabSection .externalLink {
	background: url("../img/static/generic_external_link_icon.png") no-repeat;
	margin-top: 18px;
	margin-bottom: 10px;
	padding-left: 26px;
}

.ucg_tab .tabSection .moreInfo {
	float: left;
	font-size: 14px;
	line-height: 1;
	margin-top: 3px;
	padding-right: 9px;
	text-transform: uppercase;
}	

.ucg_tab .tabSection .moreInfo .arrowRight {
	background: url("../img/static/blue_arrow_right.png") no-repeat;
	float: right;
	margin-top: 1px;
	margin-left: 9px;
	height: 11px;
	width: 7px;
}

.ucg_tab .tabSection .icons {
	font-family: "UniCredit-Bold";
	font-size: 14px;
	margin-top: 40px;
	line-height: 1;
	text-transform: uppercase;
}

.ucg_tab .tabSection .icons .icon {
	margin: 15px 0;
}

.ucg_tab .tabSection .icons .icon:last-child {
	margin-bottom: 0;
}

.ucg_tab .tabSection .icons .icon.homeBankingLogin {
	background: url("../img/static/home_banking_icon.png") no-repeat;
	margin-top: 1px;
	padding-top: 2px;
	padding-left: 28px;
	height: 16px;
}

.ucg_tab .tabSection .icons .icon.seeJobPositions {
	background: url("../img/static/worldwide_country_page_see_job_position_icon.png") no-repeat;
	padding-top: 3px;
	padding-left: 28px;
	height: 16px;
}

.ucg_tab .tabSection .icons .icon.findBranch {
	background: url("../img/static/worldwide_country_page_find_a_branch_icon.png") no-repeat;
	margin-top: 1px;
	margin-left: 4px;
	padding-top: 2px;
	padding-left: 24px;
	height: 14px;
}

.ucg_tab .tabSection .icons .icon.linkedin {
	background: url("../img/static/worldwide_country_page_linkedin_icon.png") no-repeat;
	margin-left: 3px;
	padding-top: 3px;
	padding-left: 25px;
	height: 14px;
}

.ucg_tab .tabSection .icons .icon a {
	color: #666666;
}

.ucg_tab .ucg_text.panel {
	margin: 0;
}

/************** tab CSS for desktop resolutions **************/

@media (min-width: 768px) {
	.panel > .container {
		max-width: 960px;
		width: 100%;
	}

	.ucg_tab .container {
		padding: 0 15px;
	}

	.ucg_tab .tabs .tab {
		padding: 21px 0;
	}

	.ucg_tab .tabs .tab.active {
		padding-bottom: 15px;
	}

	.ucg_tab .tabs .tab .tabHeader a {
		font-size: 24px;
	}

	.ucg_tab .tabPanel {
		padding: 0;
	}

	.ucg_tab .tabSection {
		font-size: 24px;
		margin-bottom: 0;
		padding: 40px 0 32px;
	}

	.ucg_tab .tabSection .bankName,
	.ucg_tab .tabSection .logo {
		line-height: 1;
	}

	.ucg_tab .tabSection .bankName {
		float: left;
	}

	.ucg_tab .tabSection .logo {
		float: right;
		padding-bottom: 0;
	}

	.ucg_tab .tabSection .externalLink {
		clear: both;
		font-size: 15px;
		margin-top: 44px;
		margin-bottom: 24px;
	}

	.ucg_tab .tabSection .icons {
		margin-top: 0;
	}

	.ucg_tab .tabSection .icons {
		float: right;
	}

	.ucg_tab .tabSection .icons .icon {
		float: left;
		margin: 0;
		padding-top: 3px;
		padding-right: 30px;
	}

	.ucg_tab .tabSection .icons .icon:last-child {
		padding-right: 0;
	}

	.ucg_tab .tabSection .icons .icon.homeBankingLogin {
		margin-top: 1px;
		padding-top: 2px;
		padding-left: 28px;
		height: 16px;
	}

	.ucg_tab .tabSection .icons .icon.seeJobPositions {
		padding-top: 3px;
		padding-left: 28px;
		height: 16px;
	}

	.ucg_tab .tabSection .icons .icon.findBranch {
		margin-top: 1px;
		margin-left: 0;
		padding-top: 2px;
		padding-left: 20px;
		height: 14px;
	}

	.ucg_tab .tabSection .icons .icon.linkedin {
		margin-left: 0;
		padding-top: 3px;
		padding-left: 23px;
		height: 14px;
	}
}