/************** ucg_accordion **************/

.ucg_accordion {
	position: relative;
	margin-top: 6px;
}

.ucg_accordion .panel + .panel {
	margin: 0;
}

.ucg_accordion .panel .container {
	padding: 0;
}

.ucg_accordion .accordionPanel {
	border: 1px solid #c9c9c9;
	border-bottom: none;
	clear: both;
}

.ucg_accordion .accordionPanel:last-child {
	border-bottom: 1px solid #c9c9c9;
}

.ucg_accordion .accordionPanel .elementTitle {
	position: relative;
	color: #00afd0;
	cursor: pointer;
	font-family: "UniCredit-Bold";
	font-size: 17px;
	margin: 0;
	padding: 20px 10px;
	text-transform: uppercase;
}

.ucg_accordion .accordionPanel .elementTitle .arrow,
.ucg_accordion .accordionPanel.open .elementTitle .arrow {
	background: url("../img/static/select-blue-arrow-down.png") no-repeat;
	position: absolute;
	top: 26px;
	right: 20px;
	height: 13px;
	width: 26px;
}

.ucg_accordion .accordionPanel.open .elementTitle .arrow {
	background: url("../img/static/select-blue-arrow-up.png") no-repeat;
}

.ucg_accordion .accordionPanel .elementsContainer {
	font-size: 20px;
	padding-left: 10px;
}

.ucg_accordion .accordionPanel .collapsing,
.ucg_accordion .accordionPanel .collapse {
	background-color: #F2F2F2;
 	border-top: 1px solid #c9c9c9; 
	margin-top: 0;
	visibility: visible;
}

.ucg_accordion .accordionPanel .collapsing .elementsContainer:first-child,
.ucg_accordion .accordionPanel .collapse .elementsContainer:first-child {
	padding-top: 20px;
}

.ucg_accordion .accordionPanel .collapsing .elementsContainer:last-child,
.ucg_accordion .accordionPanel .collapse .elementsContainer:last-child {
	padding-bottom: 50px;
}

.ucg_accordion .accordionPanel .elementsContainer .element a {
	color: #666666;
	line-height: 1.75;
}

.ucg_accordion .accordionPanel .elementsContainer .mainElement a {
	color: #00afd0;
	line-height: 1.75;
}

.ucg_accordion .ucg_text.panel {
	margin: 0;
}

@media (min-width: 768px) {
	.ucg_accordion .panel {
		margin-top: 4px;
	}

	.ucg_accordion .accordionPanel .elementTitle,
	.ucg_accordion .accordionPanel .collapsing .elementsContainer,
	.ucg_accordion .accordionPanel .collapse .elementsContainer {
		padding: 20px;
	}

	.ucg_accordion .accordionPanel .collapsing .elementsContainer:last-child,
	.ucg_accordion .accordionPanel .collapse .elementsContainer:last-child {
		padding-bottom: 20px;
	}
}