/************** ucg_image_text **************/

.ucg_image_text.panel {
	margin: 0 0 20px;
}

.ucg_image_text.panel .container {
	margin-top: 3px;
	width: 100%;
}

.ucg_image_text .ucg_img {
	float: left;
	margin-top: 3px;
	margin-bottom: 6px;
	margin-right: 12px;
}

.ucg_image_text .ucg_img img {
	width: 100%;
}

.ucg_image_text .ucg_date {
	font-size: 14px;
	color: #999999;
	margin-bottom: 16px;
}

.ucg_image_text .ucg_bold {
	font-family: 'unicredit-bold';
}

.ucg_image_text .ucg_txt {
	font-size: 14px;
}

.ucg_image_text .ucg_txt h1,
.ucg_image_text .ucg_txt h2,
.ucg_image_text .ucg_txt h3,
.ucg_image_text .ucg_txt h4,
.ucg_image_text .ucg_txt h5,
.ucg_image_text .ucg_txt h6 {
	margin-top: 0;
}

.ucg_image_text .ucg_linklist .container {
	padding: 0;
}

@media (min-width: 768px) {
	
}