/************** ucg_quote **************/

.ucg_quote.panel {
	margin: 0;
}

.ucg_quote.panel .container {
	width: 100%;
}

.ucg_quote .ucg_img_quote {
	float: left;
	margin-top: 3px;
	margin-bottom: 6px;
	margin-right: 32px;
}

.ucg_quote .ucg_img_quote img {
	width: 100%;
}

.ucg_quote .ucg_txt_quote {
	
}

.ucg_quote .ucg_txt_quote .ucg_reference {
	text-transform: uppercase;
}

@media (min-width: 768px) {
}