/************** ucg_title **************/

.ucg_title.panel {
	margin: 0 0 40px;
}

.ucg_title .container {
	width: 100%;
}

.ucg_title .ucg_title_text_container {
	float: left;
}

.ucg_title .ucg_title_image_container {
	float: right;
}

.ucg_title .ucg_title_image_container img {
	float: right;
	height: 50%;
	width: 50%;
}

@media (min-width: 768px) {

	.ucg_title .ucg_title_image_container img {
		float: none;
		height: auto;
		width: auto;
	}
}