/**** SWIPER CONTENT ****/
.ucg_gallery {
	height: 700px;
}
.ucg_gallery > .container {
	padding: 0;
}
.ucg_gallery .ucg_gallery_title {
	text-align: center;
}
.ucg_gallery .galleryContainer {
	height: 295px;
}
.ucg_gallery .galleryContainer .swiper-container.swiper-content,
.ucg_gallery .swiper-content .swiper-slide {
	width: 100%;
	height: 215px;
}
.ucg_gallery .swiper-content .youtube-layer {
	position: absolute;
	background-color: rgba(255,200,0,0.2);
	float: left;
	z-index: 3;
	top: 0;
}
.ucg_gallery .swiper-content .youtube-layer.top {
	height: 43%;
	width: 100%;
}
.ucg_gallery .swiper-content .youtube-layer.right {
	width: 45%;
	height: 100%;
	right: 0;
	left: auto;
}
.ucg_gallery .swiper-content .youtube-layer.bottom {
    height: 43%;
    top: auto;
    bottom: 0;
    width: 100%;	
}
.ucg_gallery .swiper-content .youtube-layer.left {
	width: 45%;
	height: 100%;
	left: 0;
	right: auto;
}
.ucg_gallery .swiper-content .swiper-slide.video-youtube .youtube-video-container {
	position: relative;
	height: 100%;
}
.ucg_gallery .swiper-content .swiper-slide.video-youtube .youtube-video-container > iframe {
    position: absolute;
    top: 0px;
    left: 0;
	z-index: 2;
}
.ucg_gallery .swiper-content .swiper-slide .img-responsive {
	height: 100%;
	width: auto;
	margin: 0 auto;
}
.ucg_gallery .swiper-content .swiper-slide .slide-footer {
    display: block;
    height: 34px;
    position: relative;
    bottom: 34px;
    width: auto;
    z-index: 4;
    color: #fff;
    background-color: rgba(0,0,0,0.6);
    line-height: 34px;
}
.ucg_gallery .swiper-content .swiper-slide .slide-footer .slide-footer-container {
	padding: 0;
	width: 100%;
}
.ucg_gallery .swiper-content .swiper-slide .slide-footer .slide-footer-container > div {
	display: inline-block;
	position: absolute;
	width: auto;
	top: 0;
	left: 0;
	float: left;
	height: 34px;
}
.ucg_gallery .swiper-content .swiper-slide .slide-footer .slide-footer-container h5 {
	text-align: center;
	line-height: 34px;
    margin: 0;
    overflow: hidden;
    padding: 0 80px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ucg_gallery .swiper-content .swiper-slide .slide-footer .slide-footer-container .view-full {
	float: right;
	width: auto;
	left: auto;
	right: 0;
}
.ucg_gallery .swiper-content .swiper-slide .slide-footer .indexer {
	margin-left: 14px;
}
.ucg_gallery .swiper-content .swiper-slide .slide-footer .fullscreen {
	display: inline-block;
	width: 34px;
	height: 34px;
	margin: 0;
	padding: 0;
	background: url('../img/static/gallery-fullscreen-on.png') no-repeat scroll center center;
}
/**** SWIPER NAV ****/
.ucg_gallery .galleryContainer .bottomGalleryBar {
	width: 100%;
	height: 80px;	
}
.ucg_gallery .galleryContainer .bottomGalleryBar .arrowContainer {
	height: 0;
	position: absolute;
	width: 100%;
}
.ucg_gallery .galleryContainer .bottomGalleryBar .arrowContainer .arrow {
	display: inline-block;
	width: 21px;
	height: 60px;
	background: url('../img/static/gallery-content-arrows.png') no-repeat scroll center left;
	position: relative;
    top: -142px;
    z-index: 4;
}
.ucg_gallery .galleryContainer .bottomGalleryBar .arrowContainer .arrow.arrow-left {
	float: left;
	margin-left: 10px;
}
.ucg_gallery .galleryContainer .bottomGalleryBar .arrowContainer .arrow.arrow-right {
	background-position: center right;
	float: right;
	margin-right: 10px;
}
.ucg_gallery .galleryContainer .swiper-container.swiper-nav {
	width: 100%;
	height: 80px;
	background-color: #f2f2f2;
	padding: 10px;
}
.ucg_gallery .swiper-nav .swiper-slide .img-responsive {
    width: 108px;
    height: 59px;
	margin-right: 10px;
}
.ucg_gallery .swiper-nav .swiper-slide:last-child {
padding-right: 10px;
}
.ucg_gallery .swiper-nav .swiper-slide .img-responsive.selected {
	display: none;
    height: 61px;
    left: -1px;
    position: relative;
    top: -60px;
    width: 110px;
}
.ucg_gallery .swiper-nav .swiper-slide.active-nav img.selected {
	display: block;
}
/**** MODAL GALLERY ****/
.ucg_gallery.modal {
	padding: 25px 20px;
	overflow: visible;
	height: 100%;
}
.ucg_gallery.modal .modal-dialog {
	height: 660px;
}
.ucg_gallery.modal .modal-dialog .modal-content {
	border-radius: 0px;
}
.ucg_gallery.modal .galleryContainer,
.ucg_gallery.modal .modal-dialog,
.ucg_gallery.modal .swiper-container {
	width: 100%;
}
.ucg_gallery.modal .modal-body {
	height: 600px;
	padding: 0;
}
.ucg_gallery.modal .galleryContainer,
.ucg_gallery.modal .galleryContainer .swiper-container.swiper-content,
.ucg_gallery.modal .swiper-content .swiper-slide {
	height: 600px;
}
.ucg_gallery.modal .modal-dialog .modal-header {
	height: 60px;
	padding: 0;
	border: none;
}
.ucg_gallery.modal .bottomGalleryBar .swiper-nav{
	display: none;
}
.ucg_gallery.modal .swiper-content .swiper-slide .slide-footer {
	width: 100%;
}
.ucg_gallery.modal .galleryContainer .bottomGalleryBar {
	height: 0;
}
.ucg_gallery.modal .galleryContainer .bottomGalleryBar .arrowContainer {
	width: 100%;	
}
.ucg_gallery.modal .galleryContainer .bottomGalleryBar .arrowContainer .arrow {
	top:-344px
}
.ucg_gallery.modal .swiper-content .swiper-slide .slide-footer {
    position: relative;
    bottom: 34px;
}
.ucg_gallery.modal .swiper-content .swiper-slide .slide-footer .slide-footer-container {
	width: 100%
}
.ucg_gallery.modal .swiper-content .swiper-slide .slide-footer .fullscreen {
	background-image: url('../img/static/gallery-fullscreen-off.png');
}
.ucg_gallery.modal .modal-header .close-modal-gallery {
	background: url('../img/static/gallery-modal-close.png') no-repeat scroll center center;
	width: 40px;
	height: 40px;
	display: inline-block;
	float: right;
	position: absolute;
    right: 0;
    top: 0;
}
.ucg_gallery.modal .modal-header .ucg_gallery_title h2 {
	margin: 0;
	line-height: 60px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
@media (min-width: 768px) {
	
	/**** SWIPER CONTENT ****/
	#mainContainer.with-sidebar-opened .ucg_gallery .galleryContainer {
		height: 575px;
	}
	#mainContainer.with-sidebar-opened .ucg_gallery .galleryContainer .swiper-container.swiper-content,
	#mainContainer.with-sidebar-opened .ucg_gallery .swiper-content .swiper-slide {
		width: 100%;
		height: 460px;
	}
	
	/**** SWIPER NAV ****/
	#mainContainer.with-sidebar-opened .ucg_gallery .galleryContainer .bottomGalleryBar {
		height: 115px;	
	}
	
	#mainContainer.with-sidebar-opened .ucg_gallery .galleryContainer .swiper-container.swiper-nav {
		height: 115px;
	}
	#mainContainer.with-sidebar-opened .ucg_gallery .swiper-nav .swiper-slide .img-responsive {
	    width: 190px;
	    height: 92px;
	}
	#mainContainer.with-sidebar-opened .ucg_gallery .swiper-nav .swiper-slide .img-responsive.selected {
	    height: 94px;
	    left: -1px;
	    position: relative;
	    top: -93px;
	    width: 192px;
	}
	
	#mainContainer.with-sidebar-opened .ucg_gallery .galleryContainer .bottomGalleryBar .arrowContainer .arrow {
	    top: -263px;
	}
	
}
@media (min-width: 960px) {
	/**** SWIPER CONTENT ****/
	#mainContainer:not(.with-sidebar-opened) .ucg_gallery > .container {
		padding: 0 10px;
	}
	#mainContainer:not(.with-sidebar-opened) .ucg_gallery .galleryContainer {
		height: 575px;
	}
	#mainContainer:not(.with-sidebar-opened) .ucg_gallery .galleryContainer .swiper-container.swiper-content,
	#mainContainer:not(.with-sidebar-opened) .ucg_gallery .swiper-content .swiper-slide {
		width: 100%;
		height: 460px;
	}
	
	#mainContainer:not(.with-sidebar-opened) .ucg_gallery .swiper-content .swiper-slide .slide-footer .slide-footer-container {
		width: 930px;
	}
	
	/**** SWIPER NAV ****/
	#mainContainer:not(.with-sidebar-opened) .ucg_gallery .galleryContainer .bottomGalleryBar {
		height: 115px;	
	}
	#mainContainer:not(.with-sidebar-opened) .ucg_gallery .galleryContainer .bottomGalleryBar .arrowContainer {
		width: 930px;
	}
	
	#mainContainer:not(.with-sidebar-opened) .ucg_gallery .galleryContainer .swiper-container.swiper-nav {
		height: 115px;
	}
	#mainContainer:not(.with-sidebar-opened) .ucg_gallery .swiper-nav .swiper-slide .img-responsive {
	    width: 190px;
	    height: 92px;
	}
	#mainContainer:not(.with-sidebar-opened) .ucg_gallery .swiper-nav .swiper-slide .img-responsive.selected {
	    height: 94px;
	    left: -1px;
	    position: relative;
	    top: -93px;
	    width: 192px;
	}
	
	#mainContainer:not(.with-sidebar-opened) .ucg_gallery .galleryContainer .bottomGalleryBar .arrowContainer .arrow {
	    top: -263px;
	}
}