/************** ucg_worldwide **************/

map, map > area, map > area:active, map > area:focus {
	border: none;
	outline: none;
}

.ucg_worldwide {
	overflow: hidden;
}

.ucg_worldwide .nations_container {
	border-bottom: 1px solid #C9C9C9;
	cursor: pointer;
	padding-bottom: 8px;
}

.ucg_worldwide .nations_container .swiper-container {

}

.ucg_worldwide .nations_container .swiper-slide a,
.ucg_worldwide .nations_container .swiper-slide-active a {
	color: #626262;
	font-size: 20px;
	line-height: 1;
	text-align: center;
}

.ucg_worldwide .nations_container .swiper-slide {
	font-size: 20px;
	line-height: 1;
	text-align: center;
}

.ucg_worldwide .nations_container .swiper-slide.active a {
	color: #00afd0;
}

.ucg_worldwide .ucg_worldwide_arrows .ucg_worldwide_arrow a {
	display: inline-block;
	background: url('../img/static/ucg_small_grey_arrows.png') no-repeat scroll transparent;
	height: 20px;
	width: 9px;
}

.ucg_worldwide .ucg_worldwide_arrows .ucg_worldwide_arrow.ucg_worldwide_arrow_left {
	float: left;
}

.ucg_worldwide .ucg_worldwide_arrows .ucg_worldwide_arrow.ucg_worldwide_arrow_left a {
	background-position: center left;
}

.ucg_worldwide .ucg_worldwide_arrows .ucg_worldwide_arrow.ucg_worldwide_arrow_right {
	float: right;
}

.ucg_worldwide .ucg_worldwide_arrows .ucg_worldwide_arrow.ucg_worldwide_arrow_right a {
	background-position: center right;
}

.ucg_worldwide .worldwide_content {
	position: relative;
	background: none;
	font-size: 15px;
	line-height: 1;
	height: auto;
	width: 100%;
}

.ucg_worldwide .layer_over,
.ucg_worldwide .layer_selected,
.ucg_worldwide .layer_mapped {
	display: none;
}

.ucg_worldwide .worldwide_content .unicreditInContainer {
	padding: 40px 15px 0;
}

.ucg_worldwide .worldwide_content .nation {
	background: url('../img/static/worldwide_component_nation_arrow.png') no-repeat scroll right 12px transparent;
	display: inline-block;
	color: #00afd0;
	font-family: 'unicredit-light';
	font-size: 40px;
	margin-top: 4px;
	margin-bottom: 28px;
	padding-right: 21px;
}

.ucg_worldwide .worldwide_content .marketShare {
	position: relative;
	margin-top: 20px;
}

.ucg_worldwide .worldwide_content .marketShare .textOnImage {
	position: absolute;
	top: 71px;
	left: 57px;
	text-align: center;
}

.ucg_worldwide .worldwide_content .marketShare .marketShereText {

}

.ucg_worldwide .worldwide_content .marketShereNumber,
.ucg_worldwide .worldwide_content .number {
	font-family: 'unicredit-light';
	font-size: 40px;
	letter-spacing: -2px;
	margin-top: 3px;
}

.ucg_worldwide .worldwide_content .marketShereNumber {
	color: #00afd0;
	margin-top: 0;
}

.ucg_worldwide .worldwide_content .employees {
	margin-top: 56px;
}

.ucg_worldwide .worldwide_content .branches {
	margin-top: 20px;
}

@media (min-width: 768px) {
	.ucg_worldwide .worldwide_content {
		background: url('../img/static/map/mappa_europa.png') no-repeat scroll right center transparent;
		border-bottom: 1px solid #C9C9C9;
		position: relative;
		height: 440px;
		width: 100%;
		z-index: 1;
	}

	.ucg_worldwide .layer_over,
	.ucg_worldwide .layer_selected,
	.ucg_worldwide .layer_map,
	.ucg_worldwide .layer_mapped {
		position: absolute;
		top: 0;
		right: 0;
		height: 440px;
		width: 520px;
	}

	.ucg_worldwide .layer_over,
	.ucg_worldwide .layer_selected,
	.ucg_worldwide .layer_map {
		display: block;
	}

	.ucg_worldwide .layer_over {
		z-index: 2;
	}

	.ucg_worldwide .layer_over img {
		display: none;
	}

	.ucg_worldwide .layer_selected {
		z-index: 3;
	}

	.ucg_worldwide .layer_nationName {
		position: absolute;
		top: 0px;
		left: 0px;
		background-color: #5a5a5a;
		border-radius: 3px;
		color: #FFFFFF;
		font-family: 'unicredit-bold';
		font-size: 14px;
		line-height: 28px;
		padding: 0 5px;
		text-transform: uppercase;
		z-index: 4;
	}

	.ucg_worldwide .layer_map {
		z-index: 5;
	}

	.ucg_worldwide .layer_mapped {
		z-index: 6;
	}

	.ucg_worldwide .worldwide_content .unicreditInContainer {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 0;
	}

	.ucg_worldwide .worldwide_content .nation {

	}

	.ucg_worldwide .worldwide_content .marketShare {
		margin-top: 80px;
	}

	.ucg_worldwide .worldwide_content .employees {
		margin-top: 116px;
	}
}