/************** ucg_history **************/

.ucg_history {
	overflow: hidden;
}

.ucg_history .container .panel .container {
	padding: 0;
	width: 100%;
}

.ucg_history .years_container {
	border-bottom: 1px solid #C9C9C9;
	cursor: pointer;
	margin-bottom: 40px;
	padding-bottom: 15px;
}

.ucg_history .years_container .swiper-slide a,
.ucg_history .years_container .swiper-slide-active a {
	color: #626262;
	font-size: 20px;
	line-height: 1;
	text-align: center;
}

.ucg_history .years_container .swiper-slide {
	font-size: 20px;
	line-height: 1;
	text-align: center;
}

.ucg_history .years_container .swiper-slide.active a {
	color: #00afd0;
}

.ucg_history .ucg_history_arrows .ucg_history_arrow a {
	display: inline-block;
	background: url('../img/static/ucg_small_grey_arrows.png') no-repeat scroll transparent;
	height: 20px;
	width: 9px;
}

.ucg_history .ucg_history_arrows .ucg_history_arrow.ucg_history_arrow_left {
	float: left;
}

.ucg_history .ucg_history_arrows .ucg_history_arrow.ucg_history_arrow_left a {
	background-position: center left;
}

.ucg_history .ucg_history_arrows .ucg_history_arrow.ucg_history_arrow_right {
	float: right;
}

.ucg_history .ucg_history_arrows .ucg_history_arrow.ucg_history_arrow_right a {
	background-position: center right;
}

.ucg_history .history_content .hystory_swiper {
	margin-bottom: 20px;
	height: 500px;
	width: 100%;
}

@media (min-width: 768px) {
	#mainContainer .ucg_history .container .panel .container {
		padding: 0;
		width: 100%;
	}
}