.ucg_back_button a.ucg_back_button_link {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/static/blue_arrow_left.png");
    background-origin: padding-box;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto auto;
    font-family: "unicredit-bold";
    padding: 7px 5px 7px 20px;
    text-transform: uppercase;
}