@media (min-width: 768px) {
	#worldwide {
		height: 1700px;
	}

	#worldwide .panel > .container {
		max-width: 960px;
		width: 100%;
	}

	#worldwide #worldwideTitle {
		border: none;
		margin: 34px 0 24px;
		padding: 0;
	}

	#worldwide #worldwideMap {
		margin: 0;
		padding: 0;
		text-align: center;
	}

	#worldwide #worldwideMap .map img {
		height: auto;
		max-width: 847px;
		width: 100%;
	}

	#worldwide #worldwideMap .cerchio {
		behavior: url(../plugin/js/PIE.htc);
		background-color: #FFFFFF;
		border: 1px solid #cacaca;
		border-radius: 50%;
		cursor: pointer;
		display: table;
		height: 180px;
		width: 180px;
	}

	#worldwide #worldwideMap .cerchio .center {
		display: table-cell;
		vertical-align: middle;
	}

	#worldwide #worldwideMap .cerchio .continent {
		font-size: 17px;
		line-height: 19px;
		text-transform: uppercase;
	}

	#worldwide #worldwideMap .cerchio .number {
		font-family: "unicredit-light";
		font-size: 60px;
		color: #00afd0;
		line-height: 60px;
	}

	#worldwide #worldwideMap .cerchio .companies {
		font-size: 15px;
	}

	#worldwide #worldwideMap .cerchio.americas {
		position: absolute;
		top: 31.0173%; /* 125px */
		left: 9.89583%; /* 95px */
	}

	#worldwide #worldwideMap .cerchio.europe {
		border-color: #00afd0;
		position: absolute;
		top: 0%; /* 0px */
		left: 35.4166%; /* 340px */
	}

	#worldwide #worldwideMap .cerchio.africa {
		position: absolute;
		top: 45.4094%; /* 183px */
		left: 48.5416%; /* 466px */
	}

	#worldwide #worldwideMap .cerchio.asia {
		position: absolute;
		top: 15.3846%; /* 62px */
		left: 67.9166%; /* 652px */
	}

	#worldwide .worldwideCountries {
		border-bottom: none;
		margin: 0 0 57px;
		padding: 0;
	}

	#worldwide .worldwideCountries .continentTitle {
		cursor: default;
		font-family: "UniCredit-Regular";
		margin: 0 10px 24px;
		padding: 0 0 24px;
	}

	#worldwide .worldwideCountries .continentCountries {
		display: block;
/*		float: left;
		font-size: 20px;
		margin-left: 10px;
		margin-right: 10px;
		width: 31%;*/
	}

	#worldwide .worldwideCountries .countries .continentCountries:first-child {
		margin-top: 0;
	}

	#worldwide .worldwideCountries .countries .continentCountries:last-child {
		padding-bottom: 0;
	}

	#worldwide .worldwideCountries .countries.no-transition {
		display: block;
		visibility: visible;
		position: static;
		height: auto;
		-moz-transition: none;
		-ms-transition: none;
		-webkit-transition: none;
		transition: none;
	}

	/************** COUNTRY PAGE **************/

	#worldwide #intro strong {
		font-family: "UniCredit Medium";
	}

	#worldwide #intro .row {
		margin: 0 -15px;
		padding-bottom: 45px;
		width: 100%;
	}

	#worldwide #intro .ourPresenceHiddenOnMobile {
		display: block;
	}

	#worldwide #intro .readMore,
	#worldwide #intro .readLess {
		display: none;
	}

	#worldwide #tabs {
		border-bottom: 1px solid #c9c9c9;
		font-family: "UniCredit Medium";
		margin-top: 18px;
		height: 89px;
	}

	#worldwide #tabs .tab {
		float: left;
		border-top: 1px solid #c9c9c9;
		border-left: 1px solid #c9c9c9;
		cursor: pointer;
		padding: 34px 0;
	}

	#worldwide #tabs .tab:last-child {
		border-right: 1px solid #c9c9c9;
	}

	#worldwide #tabs .tab.active {
		background: #FFFFFF;
		border-bottom: none;
		padding-bottom: 22px;
	}

	#worldwide #tabs .tab.active .tabHeader {
		border-bottom: 2px solid #00afd0;
		padding-bottom: 10px;
	}

	#worldwide #tabs .tab .tabHeader a {
		color: #666666;
	}

	#worldwide #tabs .tab.active .tabHeader a {
		color: #00afd0;
	}

	#worldwide .tabPanel {
		padding: 0;
	}

	#worldwide .tabSection {
		font-size: 24px;
		margin-bottom: 0;
		padding: 40px 0 32px;
	}

	#worldwide .tabSection .bankName,
	#worldwide .tabSection .logo {
		line-height: 1;
	}

	#worldwide .tabSection .bankName {
		float: left;
	}

	#worldwide .tabSection .logo {
		float: right;
		padding-bottom: 0;
	}

	#worldwide .tabSection .externalLink {
		clear: both;
		font-size: 15px;
		margin-top: 44px;
		margin-bottom: 24px;
	}

	#worldwide .tabSection .icons,
	#worldwide #companyInfos .icons {
		margin-top: 0;
	}

	#worldwide .tabSection .icons {
		float: right;
	}

	#worldwide .tabSection .icons .icon {
		float: left;
		margin: 0;
		padding-top: 3px;
		padding-right: 30px;
	}

	#worldwide .tabSection .icons .icon:last-child {
		padding-right: 0;
	}

	#worldwide .tabSection .icons .icon.homeBankingLogin,
	#worldwide #companyInfos .icons .icon.homeBankingLogin {
		margin-top: 1px;
		padding-top: 2px;
		padding-left: 28px;
		height: 16px;
	}

	#worldwide .tabSection .icons .icon.seeJobPositions,
	#worldwide #companyInfos .icons .icon.seeJobPositions {
		padding-top: 3px;
		padding-left: 28px;
		height: 16px;
	}

	#worldwide .tabSection .icons .icon.findBranch,
	#worldwide #companyInfos .icons .icon.findBranch {
		margin-top: 1px;
		margin-left: 0;
		padding-top: 2px;
		padding-left: 20px;
		height: 14px;
	}

	#worldwide .tabSection .icons .icon.linkedin,
	#worldwide #companyInfos .icons .icon.linkedin {
		margin-left: 0;
		padding-top: 3px;
		padding-left: 23px;
		height: 14px;
	}

	/************** COMPANY PAGE **************/

	#worldwide #companyInfos .inner {
		padding-right: 15px;
		padding-left: 15px;
	}

	#worldwide #companyInfos .logo {
		margin-bottom: 0;
		text-align: left;
	}

	#worldwide #companyInfos .subtitle {
		border-bottom: 1px solid #c9c9c9;
		font-size: 15px;
		padding: 44px 0 7px;
		text-transform: uppercase;
	}

	#worldwide #companyInfos .infos {
		padding: 0 0 9px;
	}

	#worldwide #companyInfos .subtitle.links {
		border-top: none;
		font-family: "UniCredit-Regular";
		font-size: 15px;
		margin: 0 0 12px;
		padding: 44px 0 7px;
	}

	#worldwide #companyInfos .externalLinkAndIconsContainer,
	#worldwide #companyInfos .companyInfo .companyInfoBody {
		border-bottom: none;
		display: block;
		cursor: default;
		padding: 0;
	}

	#worldwide #companyInfos .companyInfo .companyInfoTitle {
		border-bottom: none;
		margin: 50px 0 22px;
		padding: 0;
	}
}