#worldwide {
	height: 1500px;
}

#worldwide > .panel {
	clear: both;	
}

#worldwide .panel > .container {
	position: relative;
	margin: 0 auto;
	padding: 0;
	/*width: 960px;*/
}

#worldwide #worldwideTitle,
#worldwide #countryTitle {
	margin: 34px 0 24px;
	padding: 0;
}

#worldwide #worldwideTitle h1,
#worldwide #countryTitle h1 {
	margin: 0;
}

#worldwide #countryTitle h1 {
	border-bottom: 1px solid #cacaca;
}

#worldwide #worldwideTitle .container,
#worldwide #countryTitle .container {
	text-align: center;
}

#worldwide .worldwideCountries {
	margin: 0 0 57px;
}

#worldwide .worldwideCountries .container {
	clear: both;
}

#worldwide .worldwideCountries .continentTitle {
	border-bottom: 1px solid #c9c9c9;
	font-size: 17px;
	margin-bottom: 24px;
	padding: 0 0 24px;
	text-transform: uppercase;
	/*width: 960px;*/
}

#worldwide .worldwideCountries .continentCountries {
	float: left;
	font-size: 20px;
	width: 33%;
}

#worldwide .worldwideCountries .continentCountries .country a {
	color: #666666;
}

#worldwide .worldwideCountries .continentCountries .mainCountry a {
	color: #00afd0;
}