/**** GENERAL RULES ****/
#calendar > .panel {
	clear: both;
	padding: 10px 0;
	margin: 0;	
}
#calendar .panel > .container {
	width: 100%;
	margin: 0;
	padding: 0 10px;
}
#calendar .container > div {
	padding: 0;
	margin: 0;
}
#calendar .panel > .container h1 {
    font-family: unicredit-light;
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    padding: 20px 0 0;
    text-align: center;
}
#calendar .event .header {
	padding: 30px 0;
}
#calendar .event:first-child .header {
	border-top: 1px solid #ccc;
	padding: 20px 0 10px;
}
#calendar .event .header > div {
	padding: 0;
	height: 40px;
}
#calendar .event .header .date .days {
	padding: 0;
	margin: 0;
	list-style-type: none;	
	display: inline-block;
}
#calendar .event .header .date .days h1 {
	margin: 0;	
	display: inline-block;
	font-family: 'unicredit-light';
    font-size: 44px;
    line-height: 40px;
    padding: 0;
}
#calendar .event .header .date .days li {
	display: inline-block;
}
#calendar .event .header .date .days li:not(:first-child):before {
	content: "❯";
    position: relative;
    top: -6px;
    margin-right: 10px;
}
#calendar .event .header .date .days li:last-child {
	behavior: url(../plugin/js/PIE.htc);
	border-right: 1px solid #c9c9c9;	
}
#calendar .event .header .labels {
	display: inline-block;
	padding: 0 7px 0 3px;
}
#calendar .event .header .labels > span {
	display: block;
	font-size: 13px;
	color: #999;
}
#calendar .event .header .labels > span:first-child {
	font-family: 'unicredit-bold';
	color: #666;
}
#calendar .event .header .buttons {
	display: inline-block;
	padding: 0;
	margin: 10px 0;
}
#calendar .event .header .buttons button {
    background: url('../img/static/calendar-events-save.png') no-repeat scroll center left;
    border: none;
    box-shadow: none;
    padding: 0 0 0 35px;
}
#calendar .event .header .categories {
	margin: 10px 0;
}
#calendar .event .header .categories label {
	behavior: url(../plugin/js/PIE.htc);
	padding: 2px 10px;
	border-radius: 6px;
	border: 1px solid #000;
	box-shadow: none;
	background-color: #fff;
}
#calendar .event .header .categories label.investors { color: #fbbc0f;border-color: #fbbc0f; }
#calendar .event .header .categories label.culturesociety { color: #11a79e;border-color: #11a79e; }
#calendar .event .header .categories label.sustainability { color: #b02b1c;border-color: #b02b1c; }
#calendar .event .header .categories label.highlighted { color: #999;border-color: #999; }
/**** GENERAL RULES ****/

/**** CALENDAR TOOLS ****/

/**** generic rules ****/
/**** generic rules ****/

/**** Date Range Picker ****/
/**** Date Range Picker ****/

/**** Categories combo-box ****/
#calendarTools.panel {
	border-bottom: 1px solid #ccc;
	margin-bottom: 0;
	padding-bottom: 40px;
}
/**** Categories combo-box ****/
/**** CALENDAR TOOLS ****/

/**** CALENDAR MESSAGES ****/
#calendarMessages.panel,
#calendarMessages.panel > .panel {
    border: medium none;
    box-shadow: none;
    margin: 0;
    outline: medium none;
    padding: 0;
    
}
#calendarMessages > .panel.warn {
	background-color: #fdeeed;
}
#calendarMessages.panel .panel > .container {
	padding: 10px;
}
#calendarMessages .panel h3 {
	font-family: 'unicredit-light';
	margin: 10px 0;
	line-height: 24px;
}
/**** CALENDAR MESSAGES ****/

/**** EVENTS LIST ****/
#calendarPanelResults.panel {
	padding: 0;
}
#calendarPanelResults .event.highlighted {
	background-color: #e5f7fa;
}
#calendarPanelResults .event.panel {
	margin: 0;
}
#calendarPanelResults .event > .container {
	padding: 0px 10px;
}
/*
#calendarPanelResults .event .header {
	padding: 30px 0;
}
#calendarPanelResults .event:first-child .header {
	border-top: 1px solid #ccc;
	padding: 20px 0 10px;
}
#calendarPanelResults .event .header > div {
	padding: 0;
	height: 40px;
}
#calendarPanelResults .event .header .date .days {
	padding: 0;
	margin: 0;
	list-style-type: none;	
	display: inline-block;
}
#calendarPanelResults .event .header .date .days h1 {
	margin: 0;	
	display: inline-block;
	font-family: 'unicredit-light';
    font-size: 44px;
    line-height: 40px;
    padding: 0;
}
#calendarPanelResults .event .header .date .days li {
	display: inline-block;
}
#calendarPanelResults .event .header .date .days li:not(:first-child):before {
	content: "❯";
    position: relative;
    top: -6px;
    margin-right: 10px;
}
#calendarPanelResults .event .header .date .days li:last-child {
	behavior: url(../plugin/js/PIE.htc);
	border-right: 1px solid #c9c9c9;	
}
#calendarPanelResults .event .header .labels {
	display: inline-block;
	padding: 0 7px 0 3px;
}
#calendarPanelResults .event .header .labels > span {
	display: block;
	font-size: 13px;
	color: #999;
}
#calendarPanelResults .event .header .labels > span:first-child {
	font-family: 'unicredit-bold';
	color: #666;
}
#calendarPanelResults .event .header .buttons {
	display: inline-block;
	padding: 0;
	margin: 10px 0;
}
#calendarPanelResults .event .header .buttons button {
    background: url('../img/static/calendar-events-save.png') no-repeat scroll center left;
    border: none;
    box-shadow: none;
    padding: 0 0 0 35px;
}
#calendarPanelResults .event .header .categories {
	margin: 10px 0;
}
#calendarPanelResults .event .header .categories label {
	behavior: url(../plugin/js/PIE.htc);
	padding: 2px 10px;
	border-radius: 6px;
	border: 1px solid #000;
	box-shadow: none;
	background-color: #fff;
}
#calendarPanelResults .event .header .categories label.investors { color: #fbbc0f;border-color: #fbbc0f; }
#calendarPanelResults .event .header .categories label.culturesociety { color: #11a79e;border-color: #11a79e; }
#calendarPanelResults .event .header .categories label.sustainability { color: #b02b1c;border-color: #b02b1c; }
#calendarPanelResults .event .header .categories label.highlighted { color: #999;border-color: #999; }
*/
#calendarPanelResults .event .body {padding: 0 0 10px 0;}
#calendarPanelResults .event .body h2 {
	margin: 0;
	font-size: 16px;
	height: auto;
	line-height: 18px;
	color: #333;
}
#calendarPanelResults .event .footer {
	border-bottom: 1px solid #c9c9c9;
}
#calendarPanelResults .event .footer a {
	font-size: 16px;
	padding-bottom: 15px;
}
#calendarPanelResults .event .footer a.attach {
	background: url('../img/static/calendar-events-attachments-arrow-down.png') no-repeat scroll right 10px;
	padding-right: 15px;
}
#calendarPanelResults .event .footer a.attach:hover,
#calendarPanelResults .event .footer a.attach:active {
	background-image: url('../img/static/calendar-events-attachments-arrow-down-hover.png');
}
#calendarPanelResults .event .footer a.attach.collapsed {
	background-image: url('../img/static/calendar-events-attachments-arrow-up.png');	
}
#calendarPanelResults .event .footer a.attach.collapsed:hover,
#calendarPanelResults .event .footer a.attach.collapsed:active {
	background-image: url('../img/static/calendar-events-attachments-arrow-up-hover.png');
}
#calendarPanelResults .event .footer .attachments {
	padding: 0;
}

#calendarPanelResults .event .footer .attachments ul {
	list-style-type: none;
	display: inline-block;
	padding: 5px 5px 5px 20px;
	margin: 0;
	width: 100%;
	background-color: #f2f2f2;
}
#calendarPanelResults .event .footer .attachments li a {
	padding: 10px 0;
	width: 100%;
	display: inline-block;
}
#calendarPanelResults .event .footer .attachments li a span {
	font-family: 'unicredit-bold';
	text-transform: uppercase;
	padding-right: 4px;
}
#calendarPanelResults .event .footer .attachments li a span:after {
	font-family: 'unicredit-light';
	content: "|";
	padding-left: 4px;
}
/**** EVENTS LIST ****/
/**** PAST EVENTS LIST ****/
#calendarPanelResults .event.past .header > div {
	padding: 0;
	height: auto;
}
#calendarPanelResults .event.past .header .date {
	border: none;
	color: #999;
}
#calendarPanelResults .event.past .header .date span {
	font-weight: normal;
	font-family: 'unicredit-bold';
}
/**** PAST EVENTS LIST ****/
/**** LOAD MORE ****/
#loadMore > .panel {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 30px;
}
#loadMore > .panel .container {
	text-align: center;
}
#loadMore .btn {
	behavior: url(../plugin/js/PIE.htc);
	font-family: 'unicredit-medium';
	text-transform: uppercase;
	font-weight: normal;
	font-size: 14px;
	border: 1px solid #CCC;
	background-color: #fff;
	border-radius: 3px;
	color: #666;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	text-align: center;
}
/**** LOAD MORE ****/
/**** EVENT DETAIL ****/
/**** EVENT DETAIL ****/
#singleEvent.panel {
	padding: 0;
}
#singleEvent .title {
	text-align: center;
	margin: 15px 0;
}
#singleEvent .title.panel h1 {
	font-family: 'unicredit-light';
	display: inline-block;
	width: auto;
	padding: 0;
	font-size: 24px;
	line-height: 1.1;
}
#singleEvent .panel.event.body {
	border-top: 1px solid #ccc;	
	margin-bottom: 30px;
}
#singleEvent .panel.event .body img {
	width: 100%;
}
#singleEvent .panel.event .text p {
	margin-top: 25px;
	font-size: 15px;	
}
#singleEvent .panel.event .text p.subtitle {
	margin-top: 30px;
	font-size: 17px;
	color: #333;
}
#singleEvent .panel.info > .container {
}
#singleEvent .panel.info > .container > div {
	border-top: 1px solid #ccc;
	padding: 0;
}
#singleEvent .panel.info .header{
	border-bottom: 1px solid #ccc;
	text-transform: uppercase;
	padding: 15px 0;
	font-size: 15px;
	
}
#singleEvent .panel.info ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#singleEvent .panel.info ul li {
	padding: 15px 0;
}
#singleEvent .panel.info .infoElement h4 {
	font-family: "unicredit-bold";
	font-size: 14px;
	margin: 0 0 5px 0;
}
#singleEvent .panel.info .infoElement p {
	font-size: 15px;
	margin: 0;
}
#singleEvent .panel.info .attachElement a {
    display: inline-block;
	font-size: 15px;
    padding: 0;
    width: 100%;	
}
#singleEvent .panel.info .attachElement a span {
    font-family: "unicredit-bold";
    padding-right: 4px;
    text-transform: uppercase;
}
#singleEvent .panel.info .attachElement a span:after {
    content: "|";
    font-family: "unicredit-light";
    padding-left: 4px;
}
#singleEvent .panel.info .linkElement a {
	background: url("../img/static/generic_external_link_icon.png") no-repeat;
	padding-left: 26px;
	display: inline-block;
    line-height: 20px;
    font-size: 15px;
}
#singleEvent .panel.info .footer a {
	font-family: "unicredit-bold";
	font-size: 14px;
	background: url("../img/static/blue_arrow_right.png") no-repeat scroll right 6px;
	padding: 0 16px 0 0; 
	display: inline-block;
    line-height: 20px;
    text-transform: uppercase;
}
/* PORTRAIT */
#singleEvent .panel.event.embeddedVideo .video,
#singleEvent .panel.event.portraitPhoto .image {
	text-align: center;
}
#singleEvent .panel.event.embeddedVideo .video img.placeholder,
#singleEvent .panel.event.portraitPhoto .image img {
	width: 100%;
}
#singleEvent .panel.event.embeddedVideo .video a {
	display: inline-block;
    float: left;
    left: 50%;
    margin: -30px;
    position: absolute;
    top: 50%;
}
/**** EVENT DETAIL ****/