/**** GENERAL RULES ****/
body {
	font-family: 'unicredit-regular';
	font-size: 14px;
	background: #000;
}
.clear {
	clear: both;
	float: none;
	display: block;
}
/**** GENERAL RULES ****/

/**** HEADER ****/
/**** HEADER ****/


/**** SIDEBAR ****/
/**** SIDEBAR ****/
