
/*****   Spinner ****/
body div.wrapper.spinner {
	/*behavior: url(../../Skins/css/PIE.htc);*/
	background-color: #FFFFFF;
    border-radius: 0px;
    box-shadow: none;
    opacity: 1;
    display: inline-block;
    height: auto;
    position: relative;
    text-align: center;
    padding: 5px 60px;
    color: #003399;
    width: auto;
    z-index: 10;
    font-size: 16px;
    font-weight: bold;
}
body div.wrapper.spinner.inline {width:100%;padding:0;margin: 0 auto;}
body div.wrapper.spinner div.spinner-layer {
	outline:none;
	text-align: center;
	width: 100%;
}
body div.wrapper.spinner.inline div.spinner-layer {
	position: absolute;
	top: 0;
	width: auto;
	display: inline-block;
    float: left;
}
body div.wrapper.spinner div.spinnerText {
	clear:both;
	margin-top:20px;
	font-family: 'unicredit-light';
	color: #00afd0;
	font-size: 24px;
    font-weight: normal;
}
body div.wrapper.spinner.inline div.spinnerText {
	display: inline-block;
	margin: 0;
	padding-left: 4%;
}
body div.wrapper.spinner div.spinner-layer:focus {
	border: none;
}
body div.wrapper.spinner div.spinner-layer > div {
	width:100%;
	margin:auto;
}
body div.wrapper.spinner.inline div.spinner-layer > div {
	width:auto;
	line-height: 1.1;
}
.modal-layer{
	width: 100%;
	height: 100%;
  	background:#FFFFFF;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
	box-shadow: none !important;
	outline:none !important;
}