/************** CQ5 CSS replica per prove DA LEVARE!!! **************/

.two-columns-box,
.three-columns-box,
.onetwo-columns-box,
.twoone-columns-box {
	margin-bottom: 24px;
	padding-top: 1px;
}

.parsys_column .two-columns-box-c0,
.parsys_column .two-columns-box-c1 {
	float: left;
	width: 49%;
}

.parsys_column .three-columns-box-c0,
.parsys_column .three-columns-box-c1,
.parsys_column .three-columns-box-c2,
.parsys_column .onetwo-columns-box-c0,
.parsys_column .twoone-columns-box-c1 {
	float: left;
	width: 33%;
}

.parsys_column .onetwo-columns-box-c1,
.parsys_column .twoone-columns-box-c0 {
	float: left;
	width: 66%;
}

.example {
	font-size: 21px;
	color: #FF5500;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
}

/************** ucg_video_text **************/

.ucg_video_text.panel {
	margin: 0;
}

.ucg_video_text.panel .container {
	width: 100%;
}

.ucg_video_text .ucg_video {
	float: left;
	margin-top: 3px;
	margin-bottom: 6px;
	margin-right: 12px;
}

.ucg_video_text .ucg_txt {
	
}

.ucg_video_text .ucg_txt h3 {
	margin-top: 0;
}

.ucg_video_text .ucg_txt a:hover {
	color: #00afd0;
}

@media (min-width: 768px) {
	 #mainContainer .ucg_video_text.panel .container {
		width: 100%;
	}
}