/************** ucg_title **************/

.ucg_seo_title {
	text-align: center;
}

.ucg_title.panel {
	margin: 0 0 40px;
}

.ucg_title .container {
	width: 100%;
}

.ucg_title h1, .ucg_title h2,
.ucg_title h3, .ucg_title h4,
.ucg_title h5, .ucg_title h6 {
	margin-top: 0px;
}

.ucg_title .ucg_title_image_container {
	float: right;
}

.ucg_title .ucg_title_image_container img {
	float: right;
	height: 50%;
	width: 50%;
}

.ucg_underlined_title {
	width: 100%;
}

.ucg_underlined_title h1, .ucg_underlined_title h2,
.ucg_underlined_title h3, .ucg_underlined_title h4,
.ucg_underlined_title h5, .ucg_underlined_title h6 {
	margin: 0;
}

.ucg_underlined_title .ucg_title_container {
	border-bottom: 1px solid #c9c9c9;
	padding-bottom: 16px;
	text-transform: uppercase;
}

@media (min-width: 768px) {
	.ucg_title .ucg_title_image_container img {
		float: none;
		height: 100%;
		width: 100%;
	}
}