/************** CSS per i titoletti degli esempi - DA LEVARE!!! **************/

.example {
	font-size: 21px;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
}

/************** ucg_horizontal_line **************/

.ucg_horizontal_line .spacer1 {
	border-bottom: 1px solid #cacaca;
	padding-top: 10px;
	width: 100%;
}

.ucg_horizontal_line .spacer2 {
	padding-bottom: 10px;
	width: 100%;
}