#worldwide {
	height: 2000px;
}

#worldwide > .panel {
	clear: both;	
}

#worldwide .panel > .container {
	position: relative;
	margin: 0 auto;
	padding: 0;
}

#worldwide #worldwideTitle {
	border-bottom: 1px solid #cacaca;
	margin: 0;
	padding: 20px 10px;
}

#worldwide #worldwideTitle h1,
#worldwide #countryTitle h1 {
	font-family: "unicredit-light";
	font-size: 40px;
	line-height: 1;
	margin: 0;
}

#worldwide #worldwideTitle .container,
#worldwide #countryTitle .container {
	text-align: center;
}

#worldwide #worldwideMap {
	margin: 0;
}

#worldwide .briefText {
	border-bottom: 1px solid #c9c9c9;
	padding: 32px 10px;
}

#worldwide .worldwideCountries {
	margin: 0;
}

#worldwide .worldwideCountries .container {
	clear: both;
}

#worldwide .worldwideCountries .continentTitle {
	border-bottom: 1px solid #c9c9c9;
	cursor: pointer;
	font-family: "UniCredit-Bold";
	font-size: 17px;
	margin: 0;
	padding: 20px 10px;
	text-transform: uppercase;
}

#worldwide .worldwideCountries .arrow,
#worldwide .worldwideCountries.collapsed .arrow {
	background: url("../img/static/select-arrow-up.png") no-repeat;
	position: absolute;
	top: 30px;
	right: 10px;
	height: 5px;
	width: 10px;
}

#worldwide .worldwideCountries.collapsed .arrow {
	background: url("../img/static/select-arrow-down.png") no-repeat;
}

#worldwide .worldwideCountries .continentCountries {
	/*float: none;*/
	font-size: 20px;
/*	margin-left: 10px;
	margin-right: 10px;*/
	padding-left: 10px;
	/*width: 100%;*/
}

#worldwide .worldwideCountries .countries {
	margin-top: 0;
}

#worldwide .worldwideCountries .countries.collapsing,
#worldwide .worldwideCountries .countries.in {
	border-bottom: 1px solid #c9c9c9;
}

#worldwide .worldwideCountries .countries .continentCountries:first-child {
	margin-top: 20px;
}

#worldwide .worldwideCountries .countries .continentCountries:last-child {
	padding-bottom: 50px;
}

#worldwide .worldwideCountries .continentCountries .country a {
	color: #666666;
	line-height: 1.75;
}

#worldwide .worldwideCountries .continentCountries .mainCountry a {
	color: #00afd0;
	line-height: 1.75;
}

/************** COUNTRY PAGE **************/

#worldwide #countryTitle {
	border-bottom: 1px solid #cacaca;
	margin: 34px 0 65px;
	padding: 0 0 38px;
}

/*#worldwide #intro .left,
#worldwide #intro .right {
	float: left;
	width: 388px;
}

#worldwide #intro .right {
	width: 572px;
}*/

#worldwide #intro .subtitle {
	font-size: 25px;
	margin-bottom: 30px;
	line-height: 0.7;
	text-align: center;
}

#worldwide #intro .text-left {
	font-size: 15px;
}

#worldwide #intro .row {
	margin: 0 auto 30px;
	width: 350px;
}

#worldwide #intro .row div {
	float: left;
}

#worldwide #intro .imageEmployers {
	background: url("../img/static/worldwide-employers.png") no-repeat;
	border-right: 1px solid #c9c9c9;
	margin: 0 20px 0 10px;
	height: 56px;
	width: 76px;
}

#worldwide #intro .imageBranches {
	background: url("../img/static/worldwide-branches.png") no-repeat;
	border-right: 1px solid #c9c9c9;
	margin: 0 20px 0 16px;
	height: 56px;
	width: 70px;
}

#worldwide #intro .number {
	font-family: "unicredit-light";
	font-size: 64px;
	color: #00afd0;
	line-height: 0.8;
	letter-spacing: -5px;
	margin-right: 15px;
}

#worldwide #intro .text-uppercase {
	font-size: 20px;
	margin-top: 27px;
}

#worldwide #intro .subtitle {
	text-align: left;
}

#worldwide #intro .ourPresenceHiddenOnMobile {
	display: none;
}

#worldwide #intro .readMore {
	display: block;
}

#worldwide #intro .readLess {
	display: none;
}

#worldwide #intro .readMore a:hover,
#worldwide #intro .readLess a:hover {
	color: #00afd0;
}

/************** COUNTRY PAGE **************/

#worldwide .chosen-container {
	height: 40px;
	width: 100%;
}

#worldwide .chosen-container .chosen-single {
	border: 1px solid #c9c9c9;
	box-shadow: none;
	font-family: "UniCredit-Bold";
	font-size: 17px;
	color: #666666;
	line-height: 40px;
	padding: 0 10px;
	height: 40px;
}

#worldwide .chosen-container .chosen-default {
	background: none;
	border: 1px solid #c9c9c9;
	font-size: 17px;
	color: #666666;
	line-height: 40px;
	height: 40px;
}

#worldwide .chosen-container .chosen-single div,
#worldwide .chosen-container .chosen-default div {
	width: 30px;
}

#worldwide .chosen-container .chosen-single div b,
#worldwide .chosen-container .chosen-default div b {
	background: url('../img/static/select-arrow-down.png') no-repeat scroll center center;
}

#worldwide .chosen-container.chosen-with-drop .chosen-single div b,
#worldwide .chosen-container.chosen-with-drop .chosen-default div b {
	background-image: url('../img/static/select-arrow-up.png');
}

#worldwide .chosen-container .chosen-drop  {
	border: 1px solid #c9c9c9;
	border-top: none;
	padding: 10px 10px 5px;
}

#worldwide .chosen-container .chosen-drop .chosen-results {
	margin: 0;
	padding: 0;
}

#worldwide .chosen-container .chosen-drop .chosen-results .active-result {
	background: url('../img/static/radio-button-unchecked.png') no-repeat scroll left center;
	font-size: 15px;
	color: #666666;
	line-height: 20px;
	padding-left: 30px;
}

#worldwide .chosen-container .chosen-drop .chosen-results .active-result.highlighted {
	background: url('../img/static/radio-button-checked.png') no-repeat scroll left center;
}

#worldwide .tabPanel {
	display: none;
	font-size: 15px;
	padding: 15px;
}

#worldwide .tabPanel.selected {
	display: block;
}

#worldwide .tabSection {
	border-bottom: 1px solid #c9c9c9;
	margin-bottom: 40px;
	padding-bottom: 40px;
}

#worldwide .tabSection .logo {
	padding-bottom: 20px;
}

#worldwide .tabSection .bankName {
	font-size: 24px;
}

#worldwide .tabSection .externalLink {
	background: url("../img/static/worldwide_country_page_external_link_icon.png") no-repeat;
	margin-top: 18px;
	margin-bottom: 10px;
	padding-left: 26px;
}

#worldwide .tabSection .externalLink a:hover {
	color: #00afd0;
}

#worldwide .tabSection .moreInfo {
	float: left;
	font-size: 14px;
	line-height: 1;
	margin-top: 3px;
	padding-right: 9px;
	text-transform: uppercase;
}	

#worldwide .tabSection .moreInfo a:hover {
	color: #00afd0;
}

#worldwide .tabSection .moreInfo .arrowRight {
	background: url("../img/static/blue_arrow_right.png") no-repeat;
	float: right;
	margin-top: 1px;
	margin-left: 9px;
	height: 11px;
	width: 7px;
}

#worldwide .tabSection .icons,
#worldwide #companyInfos .icons {
	font-family: "UniCredit-Bold";
	font-size: 14px;
	margin-top: 40px;
	line-height: 1;
	text-transform: uppercase;
}

#worldwide .tabSection .icons .icon {
	margin: 15px 0;
}

#worldwide .tabSection .icons .icon:last-child {
	margin-bottom: 0;
}

#worldwide .tabSection .icons .icon.homeBankingLogin,
#worldwide #companyInfos .icons .icon.homeBankingLogin {
	background: url("../img/static/home_banking_icon.png") no-repeat;
	margin-top: 1px;
	padding-top: 2px;
	padding-left: 28px;
	height: 16px;
}

#worldwide .tabSection .icons .icon.seeJobPositions,
#worldwide #companyInfos .icons .icon.seeJobPositions {
	background: url("../img/static/worldwide_country_page_see_job_position_icon.png") no-repeat;
	padding-top: 3px;
	padding-left: 28px;
	height: 16px;
}

#worldwide .tabSection .icons .icon.findBranch,
#worldwide #companyInfos .icons .icon.findBranch {
	background: url("../img/static/worldwide_country_page_find_a_branch_icon.png") no-repeat;
	margin-top: 1px;
	margin-left: 4px;
	padding-top: 2px;
	padding-left: 24px;
	height: 14px;
}

#worldwide .tabSection .icons .icon.linkedin,
#worldwide #companyInfos .icons .icon.linkedin {
	background: url("../img/static/worldwide_country_page_linkedin_icon.png") no-repeat;
	margin-left: 3px;
	padding-top: 3px;
	padding-left: 25px;
	height: 14px;
}

#worldwide .tabSection .icons .icon a,
#worldwide #companyInfos .icons .icon a {
	color: #666666;
}