@media (min-width: 768px) {
	#worldwide {
		height: 1700px;
		
		
		
		
		
	}

	#worldwide .panel > .container {
		width: 960px;
	}

	#worldwide #worldwideTitle {
		border: none;
		margin: 34px 0 24px;
		padding: 0;
	}

	#worldwide #worldwideMap {
		margin: 0;
		padding: 0;
		text-align: center;
	}

	#worldwide #worldwideMap .cerchio {
		background-color: #FFFFFF;
		border: 1px solid #cacaca;
		border-radius: 50%;
		cursor: pointer;
		display: table;
	    height: 180px;
		width: 180px;
	}

	#worldwide #worldwideMap .cerchio .center {
		display: table-cell;
		vertical-align: middle;
	}

	#worldwide #worldwideMap .cerchio .continent {
		font-size: 17px;
		line-height: 19px;
		text-transform: uppercase;
	}

	#worldwide #worldwideMap .cerchio .number {
		font-family: "unicredit-light";
		font-size: 60px;
		color: #00afd0;
		line-height: 60px;
	}

	#worldwide #worldwideMap .cerchio .companies {
		font-size: 15px;
	}

	#worldwide #worldwideMap .cerchio.americas {
	    position: absolute;
		top: 125px;
		left: 95px;
	}

	#worldwide #worldwideMap .cerchio.europe {
		border-color: #00afd0;
		position: absolute;
		top: 0px;
		left: 340px;
	}

	#worldwide #worldwideMap .cerchio.africa {
	    position: absolute;
		top: 183px;
		left: 466px;
	}

	#worldwide #worldwideMap .cerchio.asia {
	    position: absolute;
		top: 62px;
		left: 652px;
	}

	#worldwide .worldwideCountries {
		border-bottom: none;
		margin: 0 0 57px;
		padding: 0;
	}

	#worldwide .worldwideCountries .continentTitle {
		cursor: default;
		margin: 0 10px 24px;
		padding: 0 0 24px;
	}

	#worldwide .worldwideCountries .continentCountries {
		display: block;
		float: left;
		font-size: 20px;
		margin-left: 10px;
		margin-right: 10px;
		width: 31%;
	}

	#worldwide .worldwideCountries .countries .continentCountries:first-child {
		margin-top: 0;
	}

	#worldwide .worldwideCountries .countries .continentCountries:last-child {
		padding-bottom: 0;
	}

	#worldwide .worldwideCountries .countries.no-transition {
		display: block;
		visibility: visible;
		position: static;
		height: auto;
		-moz-transition: none;
		-ms-transition: none;
		-webkit-transition: none;
		transition: none;
	}

	/************** COUNTRY PAGE **************/

	#worldwide #intro .row {
		margin: 0 -15px;
		padding-bottom: 45px;
		width: 100%;
	}

	#worldwide #intro .subtitle {
		text-align: left;
	}

	#worldwide #tabs {
		border-bottom: 1px solid #c9c9c9;
		font-family: "UniCredit Medium";
		margin-top: 18px;
		height: 89px;
	}

	#worldwide #tabs .tab {
		float: left;
		border-top: 1px solid #c9c9c9;
		border-left: 1px solid #c9c9c9;
		cursor: pointer;
		padding: 34px 0;
	}

	#worldwide #tabs .tab:last-child {
		border-right: 1px solid #c9c9c9;
	}

	#worldwide #tabs .tab.active {
		background: #FFFFFF;
		border-bottom: none;
		padding-bottom: 22px;
	}

	#worldwide #tabs .tab.active .tabHeader {
		border-bottom: 2px solid #00afd0;
		padding-bottom: 10px;
	}

	#worldwide #tabs .tab .tabHeader a {
		color: #666666;
	}

	#worldwide #tabs .tab.active .tabHeader a {
		color: #00afd0;
	}

	#worldwide .tabPanel {
		display: none;
	}

	#worldwide .tabPanel.selected {
		display: block;
	}

	#worldwide .tabSection {
		border-bottom: 1px solid #c9c9c9;
		font-size: 24px;
		padding: 40px 0 32px;
	}

	#worldwide .tabSection .bankName,
	#worldwide .tabSection .logo {
		line-height: 1;
	}

	#worldwide .tabSection .externalLink {
		background: url("../img/static/worldwide_country_page_external_link_icon.png") no-repeat;
		font-size: 15px;
		clear: both;
		margin-top: 44px;
		margin-bottom: 24px;
		padding-left: 26px;
	}

	#worldwide .tabSection .externalLink a {
		color: #00afd0;
	}

	#worldwide .tabSection .moreInfo {
		font-size: 14px;
		line-height: 1;
		margin-top: 3px;
		padding-right: 9px;
		text-transform: uppercase;
	}	

	#worldwide .tabSection .moreInfo a:hover {
		color: #00afd0;
	}	

	#worldwide .tabSection .moreInfo .arrowRight {
		background: url("../img/static/blue_arrow_right.png") no-repeat;
		float: right;
		margin-top: 1px;
		margin-left: 9px;
		height: 11px;
		width: 7px;
	}

	#worldwide .tabSection .icons {
		font-size: 14px;
		line-height: 1;
		text-transform: uppercase;
	}

	#worldwide .tabSection .icons .icon {
		padding-top: 3px;
		padding-right: 30px;
	}

	#worldwide .tabSection .icons .icon:last-child {
		padding-right: 0;
	}

	#worldwide .tabSection .icons .icon.homeBankingLogin {
		background: url("../img/static/home_banking_icon.png") no-repeat;
		margin-top: 1px;
		padding-top: 2px;
		padding-left: 28px;
		height: 16px;
	}

	#worldwide .tabSection .icons .icon.seeJobPositions {
		background: url("../img/static/worldwide_country_page_see_job_position_icon.png") no-repeat;
		padding-left: 28px;
		height: 16px;
	}

	#worldwide .tabSection .icons .icon.findBranch {
		background: url("../img/static/worldwide_country_page_find_a_branch_icon.png") no-repeat;
		margin-top: 1px;
		padding-top: 2px;
		padding-left: 20px;
		height: 14px;
	}

	#worldwide .tabSection .icons .icon.linkedin {
		background: url("../img/static/worldwide_country_page_linkedin_icon.png") no-repeat;
		padding-left: 23px;
		height: 14px;
	}

	#worldwide .tabSection .icons .icon a {
		color: #666666;
	}
}