a.ucg_videoplayer_starter {
    background: url('../img/static/videoplayer_play.png') no-repeat scroll center center transparent;
	display: inline-block;
    position: absolute;
    text-align: center;
}
a.ucg_videoplayer_starter:hover {
	background-image: url('../img/static/videoplayer_play_hover.png');
}
.ucg_videoplayer {
	padding: 0;
}
.ucg_videoplayer .modal-dialog {
	margin: 0 auto;
	width: 90%;
}
.ucg_videoplayer .modal-content {border-radius: 0;}
.ucg_videoplayer .modal-header {
	border: none;
	padding: 20px;
}
.ucg_videoplayer .modal-body {
	text-align: center;
}
.ucg_videoplayer .modal-body iframe {
    width: 100%;
}
@media (min-width: 768px) {
	.ucg_videoplayer .modal-dialog {
		margin: 20px auto;
		width: 960px;
	}
	.with-sidebar-opened .ucg_videoplayer .modal-dialog {
		margin: 10px auto;
		width: 90%;
	}	
}