@media (min-width: 768px) {
	/**** GENERAL RULES ****/
	#calendar .panel > .container {
		width: 960px;
		margin: 0 auto;
		padding: 0 10px;
	}
	#calendar .event:first-child .header {
		padding: 40px 0 30px;
	}

	#calendar .event .header .date {
		padding-right: 15px;
		border-right: 1px solid #c9c9c9;	
	}
	#calendar .event .header .date .days li {
		padding-right: 10px;
	}
	#calendar .event .header .labels {
		padding: 0 15px;
	}
	#calendar .event .header .buttons {
		padding: 12px 20px;
		margin: 0;
	}
	#calendar .event .header .categories {
		margin: 0;
		width: auto;
		float: right;
	    right: auto;
	}
	/**** GENERAL RULES ****/
	/**** CALENDAR TOOLS ****/
	#calendarTools .container > div {
		padding: 0 10px;	
	}
	#calendarTools .container > div:first-child {
		padding-left: 0;	
	}
	#calendarTools .container > div:last-child {
		padding-right: 0;	
	}
	/**** CALENDAR TOOLS ****/
	/**** CALENDAR MESSAGES ****/
	/**** CALENDAR MESSAGES ****/
	/**** EVENTS LIST ****/
	#calendar .event .header .date,
	#calendar .event .header .buttons,
	#calendar .event .header .category {
		width: auto;
	}
	#calendarPanelResults .event .body {padding: 0 0 30px 0;}
	#calendarPanelResults .event .body h2 {
		font-size: 24px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		height: 24px;
		line-height: 24px;
	}
	/**** EVENTS LIST ****/
	/**** PAST EVENTS LIST ****/
	/**** PAST EVENTS LIST ****/
	/**** LOAD MORE ****/
	/**** LOAD MORE ****/
	/**** SINGLE EVENT ****/
	/* PORTRAIT */
	
	#singleEvent .title {
		margin: 45px 0;
	}
	#singleEvent .panel.title h1 {
		font-size: 40px;
	}
	#singleEvent .panel.event.portraitPhoto .image {
		width: auto;
		float: left;
		margin: 0 25px 25px 0;
	}
	#singleEvent .panel.event.portraitPhoto .image img {
		width: auto;
	}
	#singleEvent .panel.event.embeddedVideo .video {
		float: left;
		padding: 0 25px 25px 0;
	}
	#singleEvent .panel.event.embeddedVideo .video img.placeholder {
		width: 100%;
	}
	#singleEvent .panel.event.embeddedVideo .video a {
    	margin: -40px;
	}
	#singleEvent .panel.info > .container > div {
		padding: 0 3%;
	}
	#singleEvent .panel.info > .container > div:first-child {
		padding-left: 0;
		padding-right: 6%;
	}
	#singleEvent .panel.info > .container > div:last-child {
		padding-left: 6%;
		padding-right: 0;
	}
}