
.ucg_social .ucg_social_title {
	background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
    font-family: 'unicredit-medium';
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 0 10px 25px;
    line-height: 1.1;
}
.ucg_social_facebook .ucg_social_title {
	background-image: url('../img/static/calendar-share-social-facebook.png');
	color: #3b5998;
}
.ucg_social_twitter .ucg_social_title {
	background-image: url('../img/static/calendar-share-social-twitter.png');
	color: #5ea9dd;
}
.ucg_social_youtube .ucg_social_title {
	background-image: url('../img/static/calendar-share-social-facebook.png');
	color: #3b5998;
}
.ucg_social_googleplus .ucg_social_title {
	background-image: url('../img/static/calendar-share-social-googleplus.png');
	color: #aa1c0d;
}
.ucg_social_linkedin .ucg_social_title {
	background-image: url('../img/static/calendar-share-social-linkedin.png');
	color: #1985bc;
}
.ucg_social_youtube .ucg_social_title {
	background-image: url('../img/static/calendar-share-social-youtube.png');
	color: #aa1c0d;
}
.ucg_social .ucg_social_title.no_image {
	border-bottom: 1px solid #999;
	margin-bottom: 8px;	
}
.ucg_social .ucg_social_image {
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
}
.ucg_social .ucg_social_image img {
	width: 100%;
	height: auto;
}
.ucg_social .ucg_social_data {
    line-height: 1.1;
    font-family: 'unicredit-bold';
    font-size: 15px;
    padding: 0 0 10px 0;
    color: #999;
}
.ucg_social .ucg_social_text p {
	margin: 0;
}
.ucg_social .ucg_social_text {
    line-height: 1.6;
    font-family: 'unicredit-regular';
    font-size: 14px;
    padding: 2px 0;
}
.ucg_social .ucg_social_text_title {
    line-height: 1.6;
    font-family: 'unicredit-bold';
    font-size: 17px;
    padding: 2px 0;
}
.ucg_social .ucg_social_text_title a {
	color: #666666;
}
.ucg_social .ucg_social_text_title a:hover,
.ucg_social .ucg_social_text_title a:active {
	color: #00afd0;
}

/*
.ucg_social_twitter .ucg_social_text {
	font-size: 17px;
	padding: 0;
}
*/
.ucg_social_twitter .ucg_social_text a.shortLink {
	text-decoration: underline;
}
.ucg_social .ucg_social_link {
	padding: 14px 0 10px;
}
.ucg_social .ucg_social_link  a {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/static/blue_arrow_right.png");
    background-origin: padding-box;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding-right: 12px;
    text-transform: uppercase;
    font-family: 'unicredit-bold';
}
/* SOCIAL FOOTER */
.ucg_social_footer {
	padding: 0 0 30px 0;
}
.ucg_social_footer a.wall {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/static/blue_arrow_right.png");
    background-origin: padding-box;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding-right: 12px;
    text-transform: uppercase;
    font-family: 'unicredit-bold';
}
.ucg_social_footer .ucg_social_title,
.ucg_social_footer .ucg_social_others {
	padding: 0;
}
.ucg_social_footer .ucg_social_title span {
    display: inline-block;
    float: left;
    line-height: 30px;
    text-transform: uppercase;
	padding: 0;
	margin: 0;
}
.ucg_social_footer .ucg_social_others a {
	width: 25px;
	height: 30px;
	display: inline-block;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center center;
	background-attachment: scroll;
}
.ucg_social_footer .ucg_social_others a.unicredit {
	background-image: url('../img/static/calendar-share-social-unicredit-grey.png')
}
.ucg_social_footer .ucg_social_others a.facebook {
	background-image: url('../img/static/calendar-share-social-facebook-grey.png')
}
.ucg_social_footer .ucg_social_others a.twitter {
	background-image: url('../img/static/calendar-share-social-twitter-grey.png')
}
.ucg_social_footer .ucg_social_others a.youtube {
	background-image: url('../img/static/calendar-share-social-youtube-grey.png')
}
.ucg_social_footer .ucg_social_others a.linkedin {
	background-image: url('../img/static/calendar-share-social-linkedin-grey.png')
}
.ucg_social_footer .ucg_social_others a.googleplus {
	background-image: url('../img/static/calendar-share-social-googleplus-grey.png')
}
.ucg_social_footer .ucg_social_others a.pinterest {
	background-image: url('../img/static/calendar-share-social-pinterest-grey.png')
}
/* SPECIAL CAREER TEXT */
.ucg_text .ucg_text_container p {
	margin-bottom: 20px;
}
@media (min-width: 768px) {
	/* SPECIAL CAREER TEXT */
	.ucg_text .ucg_text_container {
		min-height: 240px;
	}
	.ucg_social > .container:first-child {
		min-height: 240px;
	}
	.ucg_social .ucg_social_image img {
		width: auto;
		height: auto;
	}
	#mainContainer.with-sidebar-opened .ucg_social .ucg_social_image img {
		width: 100%;
	}
	.ucg_social_footer .ucg_social_title {
		width: auto;
		float: right;
    	text-align: right;
	}
	.ucg_social_footer .ucg_social_title span {
		float: none;
		width: auto;
    	margin-right: 20px;
	}
	.ucg_social_footer .ucg_social_others {
	    display: inline-block;
	    width: auto;
	    float: right;
	}
}